{% extends 'base.html.twig' %}

{% block title %}Forum collegien
{% endblock %}

{% block body %}
	{% block titre %}
		<div class="titre">
			<h4>LA RECRE</h4>
		</div>
	{% endblock %}
	{% block corp %}

		<div class="listeSujet">
			<a href="{{path('app_accueil')}}">
				<h4>Retour à l'accueil</h4>
			</a>
			<h4>Désolé, mais l'heure de la récré n'a pas encore sonnée!</h4>
		
			{% endblock %}
		{% endblock %}
